#pragma code_page(1252)
#include <windows.h>
#include "../src/version.h"

1 ICON "app.ico"

1 VERSIONINFO
 FILEVERSION APP_VER_NUMS
 PRODUCTVERSION APP_VER_NUMS
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Subhajit Maji"
            VALUE "FileDescription",  "OptiX AI Denoiser"
            VALUE "FileVersion",      APP_VER_STR
            VALUE "InternalName",     "OptiXDenoiserGUI"
            VALUE "LegalCopyright",   "Copyright \251 2026 Subhajit Maji. All rights reserved."
            VALUE "OriginalFilename", "OptiXDenoiserGUI.exe"
            VALUE "ProductName",      "OptiX AI Denoiser"
            VALUE "ProductVersion",   APP_VER_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
